<!DOCTYPE html>
<html lang="en">
{% if group and group.name %}
   {%if friend and friend.name %}
      {% set message = friend.name + " הזמין אותך להצטרף לקבוצה '" + group.name + "'" %}
   {%else%}
      {% set message = "הזמינו אותך להצטרף לקבוצה '" + group.name + "'" %}
   {%endif%}
{% elif friend and friend.name %}
   {% set message = friend.name + " רוצה להיות חבר שלך" %}
{% else %}
   {% set message = "ברוכים הבאים" %}
{%endif%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>login</title>
    <meta property="og:title" content="הכל בסדר">
    <meta property="og:description" content="{{message}} הכל בסדר ולוודא שהכל בסדר איתך בעת אירוע בטחוני!">
    <meta property="og:image" content="static/images/og_image.jpg">

</head>
<body>
    <div class="container">
      <div class="groups">
        <div>
         <div class=logo style=''>💬👌</div>
         <div class=application_name>הכל בסדר</div>
      {%if not number_e164 %}
         <div class=invite>
            {{ message }}
         </div>
         <div class=invite_subtitle>
            בעת אירוע ביטחוני נכנסים,<br/>
            מעדכנים שהכל בסדר,<br />
            ורואים מי בסדר ומי לא.<br />
         </div>
        <h1 style='text-align:center;'>מה מספר הטלפון שלך?</h1>
        <form  method="POST">
            <input type="tel" id="phone_number" name="phone_number" value="{%if phone_number%}{{phone_number}}{%endif%}" placeholder="מספר טלפון" required enterkeyhint="send" style='direction:ltr'/>
            {% if phone_number %}
               <p style="color:red">מספר הטלפון שהקשת אינו תקין</p>
            {% endif %}
            <div class=center-buttons>
               <button type="submit">המשך</button>
            </div>
        </form>

      {%else%}
        <h1 style='text-align:center;'>מה מספר האימות שקיבלת?</h1>
        <form method="POST">
            <div class="verification-code-container">
                <input type="hidden" value="{%if phone_number%}{{phone_number}}{%endif%}" name="phone_number" id="phone_number" />
                <input type="text" inputmode="numeric" pattern="[0-9]*" id="verification_code" name="verification_code" class="verification-code" maxlength="6" required enterkeyhint="send">
            </div>
            {% if verification_code %}
               <p style="color:red">הקוד שהוקש אינו תקין</p>
            {% endif %}
            <div class=center-buttons>
               <button type="submit">המשך</button>
            </div>
        </form>
      {%endif%}

      <br />
   </div>
      </div>
    </div>
</body>
</html>

