<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
      <div class="groups">
         <div>
      {%if not phone_number %}
         <h1 style='text-align:center'>💬👌<h1>
        <h1>היי, מה מספר הטלפון שלך?</h1>
        <form  method="POST">
            <input type="tel" id="phone_number" name="phone_number" placeholder="מספר טלפון" required>
            <button type="submit">המשך</button>
        </form>
      {%else%}
        <h1>מה מספר האימות שקיבלת?</h1>
        <form method="POST">
            <div class="verification-code-container">
                <input type="hidden" value="{{ phone_number }}" name="phone_number" id="phone_number" />
                <input type="text" inputmode="numeric" pattern="[0-9]*" id="verification_code" name="verification_code" class="verification-code" maxlength="6" required enterkeyhint="sendq">
            </div>
                            <br />

            <button type="submit">המשך</button>
        </form>
      {%endif%}
   </div>
      </div>
    </div>
</body>
</html>

