<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">

    <title>סטטוס חברים</title>

    <script>
        function socialShare(message) {
            // Check if the Web Share API is supported
            if (navigator.share) {
                navigator.share({
                    title: 'Share via:',
                    text: message,
                    // Add more fields if needed like url, etc.
                })
                .then(() => console.log('Successful share'))
                .catch((error) => console.log('Error sharing:', error));
            } else {
                // Fallback to WhatsApp share if Web Share API is not supported
                window.location.href = `https://api.whatsapp.com/send?text=${encodeURIComponent(message)}`;
            }
            document.activeElement.blur();
        }

        // Function to copy text to clipboard
        function addFriend() {
            const currentUrl = window.location.href;
            const prefix = currentUrl.substring(0, currentUrl.lastIndexOf('/'));
            const url = prefix + "/?friend_id={{ user.id }}"
            const message = "הי, ארצה להיות חבר שלך ב-הכל בסדר - האפליקציה שמאפשרת לקבל אישור שהכל בסדר איתך בעת אירוע ביטחוני "
            socialShare(message + url)
            // document.location.href = "https://wa.me/?text="+encodeURIComponent(message + url)
            return;
        }
        function removeFriend(friendId) {
            var confirmation = confirm("האם למחוק את החבר?");
            if (!confirmation) { return }


            const options = {method:'POST', body: JSON.stringify({id:friendId}),
                             headers: { 'Content-Type': 'application/json'}}

            fetch('friend/remove', options)
              .then(data   => { document.location.href = document.location.pathname;  })
              .catch(error => { console.error('Error:', error); });
        }

        function shareGroup(groupId) {
            const currentUrl = window.location.href;
            const prefix = currentUrl.substring(0, currentUrl.lastIndexOf('/'));
            const url = prefix + "/?group_id="+groupId+"&friend_id={{ user.id }}";
            const message = "הי, ארצה לצרף אותך לקבוצה שלנו ב-הכל בסדר - האפליקציה שמאפשרת לקבל אישור שהכל בסדר איתך בעת אירוע ביטחוני "
            socialShare(message + url)
            // document.location.href = "https://wa.me/?text="+encodeURIComponent(message + url)
            return;   
        }

        function shareApp() {
            const currentUrl = window.location.href;
            const url = currentUrl.substring(0, currentUrl.lastIndexOf('/'));
            const message = "הי, האפליקציה הזו מאפשרת לשתף ולקבל אישור שהכל בסדר עם החברים העבודה והמשפחה בעת אירוע ביטחוני\nזה די פשוט. מסמנים שהכל בסדר ורואים מי בסדר ומי לא הגיב בקלות ובמהירות. אפשר ליצור קבוצות שונות או להזמין חברים באופן ישיר: "
            socialShare(message + url)
            // document.location.href = "https://wa.me/?text="+encodeURIComponent(message + prefix)
            return;   
        }
        function updateGroupName(groupId, name) {
            const groupCard = document.getElementById(groupId + '-card');
            const groupName = groupCard.querySelector("input.group-name")
            const options = {method:'POST', body: JSON.stringify({name:name, id:groupId}),
                             headers: { 'Content-Type': 'application/json'}}

            fetch('group/update', options)
              .then(data   => { groupName.value = name; })
              .catch(error => { console.error('Error:', error); });

            if (name) {
                groupName.setAttribute("readonly","")
            }
        }
        function leaveGroup(groupId) {
            var confirmation = confirm("האם לצאת מהקבוצה?");
            if (!confirmation) { return }


            const options = {method:'POST', body: JSON.stringify({leave:true, id:groupId}),
                             headers: { 'Content-Type': 'application/json'}}

            fetch('group/update', options)
              .then(data   => { document.location.href = document.location.pathname;  })
              .catch(error => { console.error('Error:', error); });
        }

        function updateStatus(is_ok) {
            const options = {method:'POST', body: JSON.stringify({is_ok:is_ok}),
                             headers: { 'Content-Type': 'application/json'}}

            fetch('status/update', options)
              .then(data   => { document.location.reload()})
              .catch(error => { alert('Error:' + error); });
        }

        function updateUserName(name) {
            const options = {method:'POST', body: JSON.stringify({name:name}),
                             headers: { 'Content-Type': 'application/json'}}

            fetch('status/update', options)
              .then(data   => { console.info('updated') })
              .catch(error => { console.error('Error:', error); });

            if (name) {
                document.getElementById('name').setAttribute("readonly","")
            }

        }


        function changeGroupName(groupId) {
            const groupCard = document.getElementById(groupId + '-card');
            const groupName = groupCard.querySelector("input.group-name")
            groupName.removeAttribute("readonly")
            groupName.focus()
        }
        function changeUsername() {
            const username = document.getElementById('name')
            username.removeAttribute("readonly")
            username.focus()
        }

        // Function to toggle group details view
        function toggleGroupDetails(groupId) {
            const groupCard = document.getElementById(groupId + '-card');
            groupCard.setAttribute('collapsed', (groupCard.getAttribute('collapsed') != 'true').toString())
            //groupCard.scrollIntoView({ behavior: "smooth" });
        }


        let minutesPassed = 0;
        function updateText() {
            minutesPassed++;

            // Set the text content based on minutes passed
            if (minutesPassed === 1) {
                updated.textContent = "עודכן לפני דקה";
                updated2.textContent = "עודכן לפני דקה";
            } else if (minutesPassed >= 2) {
                updated.textContent = "עודכן לפני " + minutesPassed + " דקות";
                updated2.textContent = "עודכן לפני " + minutesPassed + " דקות";
                updated.style.color = "red";
            }
            if (minutesPassed >= 3) {
                updated.style.animation = "blink 1s infinite";
            }

            updated.onclick = function() {document.location.reload() }
            updated.style.cursor = "pointer"
        }
        function canAcceptFocus(element) {
            // Check if the element is naturally focusable (e.g., input, button, a[href], etc.)
            if (/^(a|area|input|select|textarea|button|iframe|details|summary|[role='button'])$/.test(element.tagName.toLowerCase())) {
                if (element.hasAttribute('href') || !element.hasAttribute('disabled')) {
                    return true;
                }
            }

            // Check for tabindex attribute. If it's >= 0, the element is focusable
            const tabIndex = element.getAttribute('tabindex');
            if (tabIndex !== null && tabIndex >= 0) {
                return true;
            }

            return false;
        }

        window.onload = function () {
            // Initialize with "updated just now"
            updated.textContent = "";
            updated2.textContent = "הנתונים נכונים לדקה האחרונה";
            // Set interval to update text every minute (60,000 milliseconds)
            setInterval(updateText, 60*1000);
        }
    </script>
</head>
<body onclick='if (!canAcceptFocus(event.srcElement)) document.activeElement.blur();'>
    <input type="text" id="copyText" value="" style="display: none;">
    <div class="container">
        <div class="groups">
            <div class=group-card>
                <div class=group-header>
                    <span class=group-name>הי&nbsp;</span>
                    <input type="text" id="name" class=group-name value="{{ user.name or '' }}" placeholder="עדכן את שמך" onchange="updateUserName(this.value)" onblur="if (this.value && this.getAttribute('readonly')==null) {this.setAttribute('readonly','');}" {%if user.name %}readonly{%endif%}/>
                    {% if not show_is_ok %}
                    <span class=menu onclick='event.stopPropagation()' tabindex=1>
                        <nav>
                          <ul>
                            <li><div onclick="changeUsername()">שינוי שם</div></li>
                            <li><div onclick="document.location.href = 'is_ok'">שינוי סטטוס</div></li>
                            <hr />
                            <li><div onclick="addFriend()">הוספת חבר</div></li>
                            <li><div onclick="document.location.href = 'group/add'">יצירת קבוצה</div></li>
                            <hr />
                            <li><div onclick="shareApp()">ספר לאחרים</div></li>
                          </ul>
                        </nav>
                    </span>
                    {% endif %}
                </div>
                {% if not show_is_ok %}
                <div class=group-body>
                    <H3><span>הסטטוס שלך:&nbsp;</span><span>{{ '👍 בסדר' if user.is_ok else '👎 לא טוב'}}</span></H3>
                    <p style='display: flex;color:gray'>לאפשרויות לחצו על שלוש הנקודות</p>
                    <p style='display: flex;color:gray' id=updated></p>

                </div> 
                {% endif %}


            </div>
            {% if show_is_ok %}
                <!-- Login -->
                <div class="status">
                    <span class=group-name>הכל בסדר?</span>
                    <div class="thumbs">
                    <div class="thumb" is_ok="True" onclick="updateStatus(true);">
                        <div class="circle"></div>
                    </div>
                    <div class="thumb" is_ok="False" onclick="updateStatus(false);">
                        <div class="circle"></div>
                    </div>
                </div>
            {% elif selected_group and selected_group not in user.groups %}
                <!-- Approve group add -->
                <div>
                    <div class=invite_subtitle> {% if selected_friend %} {{selected_friend | userToString }} 
                         {% else %} {{ selected_group.owner | userToString }} 
                         {%endif%} רוצה לצרף אותך לקבוצה {{ selected_group.name or 'ללא שם'}}
                    </div>
                    <h1 style='text-align:center;'> האם לאשר הצטרפות? </h1>
                    <div class=center-buttons>
                        <button onclick='document.location.href = "/group/add?id={{selected_group.id}}"'>כן</button>
                        <button onclick='document.location.href = document.location.pathname'>לא</button>
                    </div>
                </div>
            {% elif selected_friend and selected_friend not in user.friends %}
                <!-- Approve friend add -->
                <div>
                    <div class=invite_subtitle> {{ selected_friend | userToString }} רוצה להתחבר איתך כדי שתכולו לוודא ששניכם בסדר</div>
                    <h1 style='text-align:center;'> האם לאשר חברות? </h1>
                    <div class=center-buttons>
                        <button onclick='document.location.href = "/friend/add?id={{selected_friend.id}}"'>כן</button>
                        <button onclick='document.location.href = document.location.pathname'>לא</button>
                    </div>
                </div>
            {%else%}
                {% set maxEventTime = None %}
                {% for group in user.groups %}
                    {% set groupScore = group.get_status_score() %}
                    {% set groupEventTimeStamp = group.get_last_event_time() %}
                    {% set gc = group.count_score(10) %}
                    {% set tc = group.users|length %}

                    {% if maxEventTime == None or maxEventTime < groupEventTimeStamp %}
                        {% set maxEventTime = groupEventTimeStamp %}
                    {% endif %}
                    <div class="group-card" id="{{ group.id }}-card" collapsed='true' onclick="if (this.getAttribute('collapsed')=='true') toggleGroupDetails('{{ group.id }}')">
                        <div class=group-header onclick="toggleGroupDetails('{{ group.id }}'); event.stopPropagation();">
                            <span class=status score="{{groupScore}}"></span>
                            <input type="text" class=group-name placeholder="עדכן את שם הקבוצה" onchange="updateGroupName('{{group.id}}', this.value)" onblur="if (this.value && this.getAttribute('readonly')==null) {this.setAttribute('readonly','');}" value="{{ group.name or '' }}"  {%if group.name %}readonly{%endif%} />
                            <span class=menu onclick='event.stopPropagation()' tabindex=1>
                                <nav>
                                  <ul>
                                    <li>
                                      <div onclick="shareGroup('{{ group.id }}')">
                                        הוספת אנשים
                                      </div>
                                    </li>
                                    <li>
                                      <div onclick="changeGroupName('{{ group.id }}')">
                                        שינוי שם
                                      </div>
                                    </li> <li>
                                      <div onclick="leaveGroup('{{ group.id }}')">
                                        {% if tc == 1 %}מחיקת הקבוצה
                                        {%else%}יציאה מהקבוצה
                                        {%endif%}
                                      </div>
                                    </li>
                                  </ul>
                                </nav>
                            </span>
                        </div>
                        <div class=group-body>
                            {% if group.users|length == 1 %} 
                                <p style='color:gray'>לחצו על שלוש הנקודות כדי להוסיף משתמשים</p><br />
                            {%endif%}
                            <div>
                                {% if tc >= 1 and gc > 1 %}
                                <H3>
                                
                                {% if gc == tc %}
                                    כל המשתמשים אישרו שהם בסדר
                                {%else%}
                                    {{ gc }} מ-{{ tc }} משתמשים אישרו שהם בסדר 
                                {%endif%}
                                {{groupEventTimeStamp | fromRelativeDate}}
                                </H3>
                                {%endif%}
                            </div>
                            {% if tc > 1 %}
                            <div showIf="collapsed"> 
                                <p style='color:gray'>לחצו כדי לראות פירוט של החברים</p>
                            </div>
                            {% endif %}
                            <div showIf="expanded">
                                {% if group.users|length > 1 %} 
                                 
                                    {% for friend in group.users %}
                                        <div class=indent>
                                            <span class=status score="{{friend.get_status_score(timestamp=groupEventTimeStamp)}}" ></span>
                                            <span class=user>{{ friend | userToString}}</span>
                                            <BR />
                                            <span class=last-seen is_ok={{friend.is_ok}}>({{ friend.last_seen | relativeDate}})</span>
                                        </div>
                                    {% endfor %}
                                {%endif%}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% for friend in user.friends %}
                    <div id='{{friend.id}}-friend' class=user-card>
                        <div class=group-header>
                            <span class=status score="{{friend.get_status_score(timestamp=maxEventTime)}}" ></span>
                            <span class=user>{{ friend | userToString }}</span><br>
                            <span class=menu onclick='event.stopPropagation()' tabindex=1>
                                <nav>
                                  <ul>
                                    <li><div onclick="removeFriend('{{friend.id}}')">מחיקת חבר</div></li>
                                  </ul>
                                </nav>
                            </span>
                        </div>
                        <div class=group-body>
                            <span class=last-seen is_ok={{friend.is_ok}}>({{ friend.last_seen | relativeDate}})</span>
                        </div>
                    </div>
                {% endfor %}

                <!-- Other content goes here -->
                <div class="buttons">
                    <p style='display: flex;color:gray' id=updated2></p>
                </div>
            {% endif %}

        </div>
    </div>

</body>
</html>
